<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hp.springboot2.mapper.TypeMapper">
    <resultMap id="bookType" type="cn.hp.springboot2.pojo.bookType">
        <id property="typeid" column="typeid"/>
        <result property="typename" column="typename"/>
        <result property="note" column="note"/>
    </resultMap>

    <select id="findAll" resultMap="bookType">
        select * from bookType
    </select>
    <select id="findOneType" resultMap="bookType">
        select * from bookType where typeId=#{typeid}
    </select>
    <insert id="saveType" parameterType="cn.hp.springboot2.pojo.bookType">
        insert into bookType(typeName,note) values (#{typename},#{note})
    </insert>
    <!--删除-->
    <delete id="delTypeById">
        delete from bookType where typeId=#{typeid}
    </delete>
    <!--修改-->
    <update id="update" parameterType="cn.hp.springboot2.pojo.bookType">
        update bookType set typeName=#{typename},note=#{note} where typeId=#{typeid}
    </update>


</mapper>